body {
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png);
  color: #222;
  font-family: monospace;
  font-size: 16pt;
  text-align: center;
}

#controls {
  font-size: 16pt;
  text-align: left;
  position: absolute;
  top: 10px;
  left: 30px;
  display: inline-block !important;
}
.option {
  display: inline-block;
  width: 70px;
  text-align: center;
}
.descr {
  display: inline-block;
}

#canvas {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block !important;
}
canvas {
  display: inline-block !important;
  display: block;
  border: solid .2em white;
}
#tetris-outer {
  display: inline-block;
}
#tetris {
  height: 90vh;
  position: relative;
  top: 10px;
}

#next-figure {
  display: inline-block !important;
  padding-left: 70px;
  position: relative;
  top: -130px;
}
#preview {
  top: 60px;
  right: 400px;
}

#score-outer {
  display: inline-block !important;
  background: #333;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  color: #80bfff;
  position: absolute;
  top: 30px;
  right: 30px;
}